[submodule "1377667"]
	path = submodules/simple-hash
	url = https://gist.github.com/1377667.git
[submodule "submodules/run-clang-format"]
	path = submodules/run-clang-format
	url = https://github.com/Sarcasm/run-clang-format.git
